@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

p {
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

* {
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.primary {
  color: #fa8314;
  font-weight: 600;
  margin: 0 0 6px 0;
}
