.loader-inner {
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  padding: 10px;
  -webkit-animation: spin 1s ease-in-out infinite;
  &-light {
    border-top-color: #000;
  }
}

.loader-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
