@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

.page-container {
  margin: auto 60px;
}

p {
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

* {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  margin: 0;
}

.primary {
  // font-weight: 400;
  color: grey;
  margin: 0 0 6px 0;
}
.secondary {
}
