.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    letter-spacing: 4px;
  }

  a {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}
