.recently-played {
  height: 100%;
  border-radius: 50px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03),
    0 2px 20px 10px rgba(0, 0, 0, 0.02);

  &__track-row {
    padding: 30px 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.466);
    display: flex;
    flex-direction: row;

    &:hover {
      background: rgba(155, 155, 155, 0.205);
    }

    &:last-child {
      border-bottom: none;
    }

    .track-information {
      margin: 0 0 0 20px;
      width: 350px;
    }

    img {
      width: 125px;
      height: 125px;
    }
  }
}
